.contener {
    width: 912px;
    height: 912px;
    padding: 2px;
}
.square {
    width: 300px;
    height: 300px;
    position: relative;
    float: left;
    margin: 2px;
}
.circle {
    width: 150px;
    height: 150px;
    border: black solid 1px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

.square1 {
    background-color: red;
}
.circle1 {
    background-color: #ffc0cb;
}
.square2 {
    background-color: #0000fe;
}
.circle2 {
    background-color: #808080;
}
.square3 {
    background-color: #008001;
}
.circle3 {
    background-color: #81007f;
}
.square4 {
    background-color: #ffff01;
}
.circle4 {
    background-color: #008001;
}
.square5 {
    background-color: black;
}
.circle5 {
    background-color: red;
}
.square6 {
    background-color: #fea500;
}
.circle6 {
    background-color: #0000fe;
}
.square7 {
    background-color: #81007f;
}
.circle7 {
    background-color: #fea500;
}
.square8 {
    background-color: #808080;
}
.circle8 {
    background-color: #ffff01;
}
.square9 {
    background-color: #ffc0cb;
}
.circle9 {
    background-color: black;
}
