* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
    background-color: white;
        
}

section {
    padding: 0 80px 100px;
    width: 100%;
}


#main-nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    
}
#main-nav ul {
    margin: 0;  
    float: right;
}

#main-nav ul li {
    display: inline-block;
    padding: 20px 40px;
}

#main-nav ul li a {
    color: #1ac056;
    text-decoration: none;
}

#main-header {
    background: url(../img/header-background.jpg);
    background-size: cover;
    color: #fff;
}

#main-header .header-content {
    text-align: center;
    padding: 40vh;
}

#main-header .header-content h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 60px;
}
#main-header .header-content h1 span {
    color: #1ac056;
    font-weight: 500;
}

#main-header .header-content h2 {
    font-weight: 200;
    font-size: 30px;
}
/*
#omnie #photo {
    height: 300px;
    float: left;
    margin-left: 277px;
    margin-right: 115px;
    border-radius: 2%;
}

#omnie-text {
    font-weight: 300;
    line-height: 25px;
    padding-right: 100px;
}

h2 {
    text-align: center;
    margin: 50px;
    font-weight: 300;
    font-size: 40px;
}

h2 span {
    font-weight: 500;
    color: #1ac056;
}

#omnie {
    padding-bottom: 250px;
    box-shadow: 12px 2px 12px #88888894;*/

h2 {
    text-align: center;
    margin: 50px;
    font-weight: 300;
    font-size: 40px;
}

h2 span {
    font-weight: 500;
    color: #1ac056;

}

#omnie img {
    max-height: 350px;
    max-width: 100%;
    border-radius: 2%;
}

#omnie figure {
    float: left;
    width: 50%;
    text-align: center;
}
    
#omnie div {
    width: 50%;
    float: left;
    line-height: 25px;
    padding-right: 100px;
}

#omnie {
    overflow: hidden;
    background-color: #f9fcfe;
    box-shadow: 0 2px 3px 1px #808080b5;
}

#skills {
    text-align: center;
}
#skills figure {
    display: inline-block;
    margin: 40px;
}

/*
.portall {
    width: 100%;
    text-align: center;
    font-size: 0;
  
   
}
.portall > div {
    width: 360px;
    height: 350px;
    display: inline-block;
    font-size: 14px;
}

.port1 {
    background-image: url(../img/portfolio1.jpg);
    background-size: cover;
}

.port2 {
    background-image: url(../img/portfolio2.jpg);
    background: cover;
}

.port3 {
    background-image: url(../img/portfolio4.jpg);
    background: cover;
}

.port-hover:hover {
    width: 360px;
    height: 350px;
    background-color: #0a79b9d1;
    position: absolute;
}*/

#portfolio-items {
    font-size: 0;
    text-align: center;
}
.portfolio-item {
    height: 350px;
    background-size: cover;
    background-position: center;
    display:inline-block;
    width: 33%;
    position:relative;
    font-size: initial;
}

#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}

#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}

#portfolio-item-3 {
    background-image: url(../img/portfolio4.jpg);
}

.portfolio-item-mask {
    opacity: 0;
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.portfolio-item-mask:hover {
    opacity: 1;
}

.mask-content {
    border: 1px solid white;
    margin: 10px;
    position: relative;
    height:  330px;
}

.mask-content-inner {
    color: white;
    line-height: 25px;
    letter-spacing: 2px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.mask-content-inner h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.mask-content-inner h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.fa-link {
    font-size: 30px;
    color: white;
}
.fa-link:hover {
    color: #1ac056;
}

/*     footer      */

#footer-container {
    background-color: #213b50;
    width: 100%;
    padding: 40px;
    color: white;
}

#footer-container .footer-contact h3 {
    text-align: left;
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 50px;
}

#footer-container .footer-contact h3 span {
    font-weight: 500;
    color: #1ac056;
}

#footer-container .footer-contact {
    width: 50%;
}

#footer-container .footer-contact address {
    font-style: normal;
}

#footer-container .footer-contact address a {
    color:white ;
    text-decoration: none;
}

#footer-container .footer-contact address a:hover {
    color: #1ac056;
}

.contact-icons {
    margin-top: 30px;
}


.contact-icon-outer {
    margin-right: 35px;
    display: inline-block;
    border: 1px solid white;
    font-size: 25px;
    width: 40px;
    height: 40px;
    position: relative;
}
.contact-icon {
    color: white;
    width: 40px;
    height: 40px;
    position: relative;
}

.contact-icon:hover {
    color: #1ac056;

}

.contact-icon i {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}