.contener {
    position: relative;
    background-color: transparent;
    height: 312px;
    width: 512px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.photo {
    position: relative;
    margin: auto;
    background-image: url(../img/3-jezioro.jpg);
    background-position: cover;
    height: 300px;
    width: 500px;
    top: 50%;
    transform: translateY(-50%);
}

.description-box {
    height: 312px;
    width: 512px;
    background-color: transparent;
    position: absolute;
    top:0;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.description-box:hover {
    opacity: 1;    
}

.description {
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: #000000c2;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.description-inner {
    color: whitesmoke;
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 3px;
    font-family: Courier New;
}

