form {
    color: white;
    background-color: #213b50;
    padding: 20px;
    width: 600px;
    font-size: 15px;
}

form input, form select, form textarea {
    background-color: #2b4a64;
    color: white;
    border: #2b4a64 1px solid;
    
}

input[type="text"], input[type="email"], select {
    width: 300px;
    height: 20px;
}

input::placeholder, select {
    color: white;
    font-family: Times New Roman;
    font-size: 15px;
    
}
textarea::placeholder {
    color: #ffffffa1;
    font-family: Times New Roman;
    font-size: 15px;
}
textarea {
    width: 300px;
}

form input:focus, form select:focus, form textarea:focus {
    background-color: #4e708c;
    border: white 1px solid;
}

form input[type="submit"] {
    background-color: green;
    text-transform: uppercase;
    font-weight: 800;
    height:40px;
    width: 100px;
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: limegreen;
    border: white 1px solid;
}
h1 {
    font-size: 17px;
}

div {
    margin-top: 15px;
}
