@media (min-width:1170px) {
    #frontend-img {
        height: 100vh;
        position: relative;
    }
    .frontend-text {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }
}


@media (min-width:992px) and (max-width:1170px) {
     #frontend-img {
        height: 70vh;
        position: relative;
        background-image: url(../zadanie-domowe-rwd-materialy/obrazy/man-2.jpg);
        background-position: left top;
  }
    .frontend-text {
        position: absolute;
        right: 0;
        top:0;
        color: white;
    }
}

@media (max-width:992px) {
    
}
    