* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
}

#frontend-img {
    background-image: url(../zadanie-domowe-rwd-materialy/obrazy/man-1.jpg);
    background-size:cover;
    background-position: center;
    max-width: 100%;
}

.frontend-text {
    padding: 20px;
}