body {
    width: 1920px;
    background: url(../img/background2.png), url(../img/background1.png), #07161d;
    background-repeat: no-repeat;
    color: #fff;
}

body, p {
    padding: 0;
    margin: 0;
}

/* SECTION TOP */

#top {
    position: relative;
    height: 788px;
    box-shadow: 0px 1px #4b4920;
}

#top div {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    text-shadow: 8px 8px #0000006e;
}


.logo {
    top: 28px;
    right: 433px;
}

.txt1 {
    top: 114px;
    left: 424px;
    font-size: 110px;
}

.txt1 span {
    font-size: 85px;
}

.txt2 {
    top: 225px;
    left: 643px;
    font-size: 52px;
}

.jackpot {
    top: 114px;
    left: 643px;
    
}

.txt3 {
    top: 399px;
    left: 840px;
    font-size: 80px;
}

#top .clock {
    top: 620px;
    left: 435px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 300px;
}

#top .clock-digit {
    display: inline-block;
    position: relative;
    height: 64px;
    width: 52px;
    background-color: #143a4f;
    border: 1px solid #224f64;
    text-shadow: none;
    font-size: 55px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    margin-right: 2px;
}

.clock-digit p, .clock-digit span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.clock-digit span {
    width: 52px;
    height: 1px;
    background-color: #101a26;
}




.txt4 {
    top: 550px;
    left: 840px;
    width: 684px;
    font-size: 70px;
}

.txt4 span {
    color: #fcbd11;
}

/* SECTION BOTTOM */

#bottom {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.rules {
    border: solid 1px #ffc714;
    width: 1116px;
    margin: 104px auto 42px auto;
}

.game-rules {
    position: relative;
    display: block;
    width: 223px;
    height: 62px;
    background-color: #ffc714;
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}

.game-rules p {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
}


ol {
    list-style-type: none;
    display: inline-block;
    width: 604px;
    margin-top: 34px;
    margin-bottom:22px; 

}

li {
    margin-bottom: 12px;
}

li img {
    margin-right: 14px;
}

.float-left {
    float: left;
}

.rules-right {
    display: inline-block;
    position: relative;
    width: 460px;
    height: 200px;
}

#bottom a {
    text-decoration: none;
}

.btn-outside {
    width: 377px;
    height: 102px;
    background-color: #ffc7141c;
    border-radius: 50px;
}

.btn-inside {
    width: 344px;
    height: 74px;
    background-color:#ffc714;
    border-radius: 50px; 
    color: black;
    font-size: 20px;
    font-weight: 900;
    transition: all .3s ease-in-out;
}

.btn-inside p {
    width: 232px;
}


.btn-outside, .btn-inside, .btn-inside p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.btn-outside:hover .btn-inside {
    color: #fff;
}

.triangle-bottom {
    right: 0;
    position: absolute;
}



