@import "zmienne";
@import "mixins";

body {
    background-color: $base-color;


nav {
 background-color: $nav-color;
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li{
            display: inline-block;
            
            a{
                color: $link-color;
            }
        }
    }
}

a {
    color: $link-color; 
}
    
    div#container {
        @include zaokraglenie(20px);
        h2 {
          @include block-center;
        }
    }
    
} 